body{
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}
hr{
    justify-self: center;
    justify-content: center;
    border-radius: 10px;
    height: 2px;
    width: 70%;
    color: black;
    background-color: black;
}
ul{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 5px;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

ul:visited{
    text-decoration: black;
    color: black;
}

#tlist{
    margin-left: 10%;
    margin-right: 12%;
}

li:visited{
    text-decoration: black;
    color: black;
}
#list:hover{text-decoration: none; 
    background-color: #c8e1cc;
}
#list{
    border: 2px solid black;
    background-color: #d2e7d6;
    border-radius: 0px;
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 300;
    text-decoration: none;
}

li{
    list-style: none;
}
img.rounded{
    margin-top: 4.39%;
    margin-left: 15%;
    float: left;
    border-radius: 0%;
    border: 3px solid black;
    float: left;
}
img.logos{
    float: left;
    padding-right: 10px;
}

#about{
    padding-top: 3%;
    display: flex;
    padding-left: 5px;
}

div.inner{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    height: 350px;
    background-color: #d2e7d6;
    height: auto;
    border: 3px solid black;
    margin-top: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
#maininfo{
    font-size: 210%;
    font-weight: 500;
}

#subinfo{
    margin: auto;
    font-size: 190%;
    font-weight: 300;
    padding-bottom: 3%;
}

/*skills section*/

div.skill{
    justify-content: center;
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}

 #skillogos{
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #d2e7d6;
    border: 3px solid black;
    margin-right: 5px;
}

ul.skillist{
    align-items: center;
    justify-content: center;
    width: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 375px 375px 375px;
    row-gap: 15%;
    padding-top: 1%;
    padding-bottom: 4%;
}
li.skillist{
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-weight: 300;
    text-anchor: middle;
    list-style: none;
}
div.sktext{
    position: relative;
    writing-mode: vertical-lr;
    right: 0;
    top: 0;
    text-align: center;
    border: 3px solid black;
    background-color: #b8d8be;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
    font-weight: 370;
    margin-right: 3%;
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5;
    text-align: center;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 43%;
    margin-right: 43%;
    margin-bottom: 5%;
    align-items: center;
    display: flexbox;
    background-color: #b8d8be;
    justify-content: center;
}