body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}
body:hover{
    cursor:default;
}
.header {
    font-family: 'DM Mono', monospace;
    font-weight: bold;
    font-size: 17vw;
    position: static;
    letter-spacing: 0;
    margin-top: -2%;
    margin-bottom: 0;
    overflow: hidden;
    color: white;
    background-color: black;
    width: 100vw;
    transition: all 0.4s cubic-bezier(.17,.84,.44,1);
}
.header:hover{
    width: 100vw;
    font-size: 14vw;
    letter-spacing: 0.18em;
    font-weight: 500;
    color: #000000;
    background-color: white;
}
nav{
    position: sticky;
    z-index: 3;
    top: 0;
    border-bottom: 2px solid white;
    width: 100vw;
}
ul.links {
    list-style-type: none;
    display: flex;
    font-family: 'DM Mono', monospace;
    justify-content: center;
    font-size: 1.6vmax;
    background-color: black;
    color: white;
    height: 10vmin;
    margin: 0;
    padding: 0;
}
.links a:visited, a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.links{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.links li a{
    display: flex;
    align-items: center;
}
li.underline {
    display: flex;
    text-align:center;
    list-style:none;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    position: relative;
}
li.underline:hover::before{
    content: "";
    position: absolute;
    width: 105%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
} 
li.underline::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.17s ease-in;
}
li:visited{
    color: black;
    text-decoration: none;
}
img.profile{
    border: 2px solid black;
    width: auto;
    height: 25vw;
    margin-right: 0;
}
img.logos{
    width: 2vmax;
    height: auto;
    padding-right: 0.5vw;
}
img.logos, li.grow:hover{
    transform: scale(1.2);
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);;
}
img.logos, li.grow{
    transform: scale(1);
    transition: 0.2s cubic-bezier(.68,-0.55,.27,1.55);;
}
img.linklogo{
    filter: invert(1);
    width: 2vmin;
    height: auto;
    margin-right: 5%;
}
div.about{
    position: relative;
    bottom: -60vh;
    animation: slide-up 2s forwards cubic-bezier(.3,.48,.18,.82); 
    align-items: stretch;
    justify-content: center;
    margin-top: 5vmin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    gap: 0;   
}
@keyframes slide-up {
    to {
      bottom: 0;
    }
  }
div.image{
    grid-column: 1 / 2;
    margin-left: 4.8vmax;
}
div.abme{
    display:inline-flex;
    text-align: justify;
    align-items: center;
    border: 2px solid black;
    border-left: 0;
    width: 60vw;
    height: 25vw;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8vw;
    padding-left: 2vw;
    padding-right: 2vw;
    grid-column: 2 / -1;
    margin-right: 5vmax;
    overflow: hidden;
}
.animated-text{
    transition: all 0.3s ease-in-out;
}
.animated-text:hover{
    background-color: #000000;
    color: white;
    letter-spacing: 2px;
}
div.skills{ 
    align-items: center;
    display: grid;
    margin-top: 2vmax;
    grid-template-columns: 1.5fr 0.5fr;
    margin-right: 5vmax;
    margin-left: 4.5vmax;
    gap: 0;
}
div.skill{
    position: relative;
    box-sizing: border-box;
    display: flex;
    grid-column: 2;
    justify-content: center;
    align-items: center;
    font-size: 3vmax;
    font-family: 'DM Mono', monospace;
    background-color: black; 
    border: 2px solid black;
    max-width: 30vw;
    height: 45vh;
    white-space: nowrap;
    color: white;
}
.gallery{
    border: 2px solid black;
    border-top: 0;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    overflow: hidden;
}
.column{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 24%;
    max-width: 25%;
    padding: 0;
    align-items: center;
    overflow: hidden;
    height: 90vh;
}
.column > *{
    flex: 1;
    object-fit: cover;
}
.column img{
    display: block;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.column img:hover{
    transform: scale(1.2);
}
li.grow{
    display: flex;
    padding: 0px 30px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.skill:before{
    scale: 1.5;
    background: #ffffff;
    color: rgb(0, 0, 0);
    content: 'SKILLS';
    overflow: hidden;
    position: absolute;
    -webkit-clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
    clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
    animation: scan 4s 1s cubic-bezier(.58,-0.45,.37,1.37) infinite; 
}
@keyframes scan {      
    50% {     
        -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%); 
} 
}
ul.sklist{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-right: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: calc(25px + 0.39vh);
    text-align: center;
    float: right;
    padding: 5px;
    height: 43.6vh;
}
.sklist > * {
    flex: 1;
}
.last{
    grid-column: 1 / 4;
}
footer{
    display: inline-block;
    text-align: center;
    align-self: center;
    position:relative;
    bottom: -100px;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: black;
    color: white;
    z-index: 1;
}
.recent{
    width: 90vw;
    margin-top: 3vmax;
    margin-left: 5vmax;
    margin-right: 5vmax;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    text-align: center;
}
.rectext{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-right: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 5vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
}
.rectext h2{
    margin: 0;
}
.instagram{
    padding-top: 7px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}
.fancy {
    font-weight: bolder;
    font-family: 'DM Mono', monospace;
    display: inline-block;
    font-size: 12.5vmax;
    background: linear-gradient(
        to right,
        rgb(123, 31, 162),
        rgb(103, 58, 183),
        rgb(244, 143, 177),
        rgb(123, 31, 162)
    );
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
    margin-top: -1%;
    margin-bottom: -1%;
}
@keyframes background-pan {
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}
.github{
    margin-top: 10vmin;
    margin-left: 5vmax;
    margin-right: 5vmax;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto auto auto;
    width: 85vw;
    overflow: hidden;
}
.git-stat{
    font-family: 'DM Sans', sans-serif;
    font-size: 5vw;
    background-color: black;
    color: white;
}
.calendar{
    grid-column: span 2;
    grid-row: 2;
}
.git-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    grid-column: 2;
    height: auto;
    padding: 1vmax;
}
.github-pinner.gp-profile {
    width: auto;
    height: auto;
  }
.gitext{
    border-left: 2px black solid;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 5vw;
    padding-left: 7vmin;
    padding-right: 7vmin;
    margin-top: 0;
    margin-bottom: 0;
}
.git-info{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #0d1117;
}
.github-pinner.gp-repo {
  width: 30vw;
}
.otherrepo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-right: 2px black solid;
    border-top: 2px black solid;
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 5vw;
}
.github-pinner.gp-all{
    width: auto;
}
.listrepo{
    background-color: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    animation-delay: 500ms;
}
.glitch-noise {
    position: relative;
    font-size: 6vw;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
} 
.glitch-noise:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #fff;
    background-color: #000000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
}
.glitch-noise:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #fff;
    background-color: #000000;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
}
@keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
}
@keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
}


@media (max-width: 850px) {
    ul.links {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
        align-items: center;
        justify-content: center;
        font-size: 2.5vmax;
        height: auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-bottom: 0.5vw;
    }
    ul.links > *{
        flex: 1;
    }
    .extra{
        grid-column: 1 / -1;
    }
    nav{
        position: relative;
    }
    li{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    li.underline{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    img.linklogo{
        width: 2vmax;
        height: auto;
        margin-right: 3%;
    }
    img.profile{
        align-items: center;
        align-content: center;
        align-self: center;
        justify-content: center;
        width: 84svw;
        height: auto;
        margin-top: 5vw;
        margin-left: 0vmax;
        margin-bottom: 0;
    }
    div.about {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    div.image {
        grid-column: 1 / -1;
    }
    div.abme {
        align-items: center;
        grid-column: 1 / -1;
        border-top: 0;
        border-left: 2px solid black;
        width: 80svw;
        height: auto;
        font-size: calc(19px + 0.390625vw);
        margin-left: 5vmax;
        margin-top: -2%;
        margin-bottom: 0;
    }
    div.skills{
        margin-top: 0;
        grid-template-columns: 1fr;
        gap: 0;
    }
    ul.sklist{
        font-size: calc(20px + 0.390625vh);
        border-top: 0;
        border-right: 2px solid black;
        margin: 0;
        height: fit-content;
        max-width: 82.5vw;
    }
    div.skill{
        grid-column: 1;
        justify-content: center;
        align-items: center;
        font-size: 7vw;
        background-color: black;
        width: 100%;
        grid-row: 1;
        min-width: 85svw;
        height: fit-content;
        
    }
    .github{
        width: 85svw;
        margin-top: 10vmin;
        margin-left: 5vmin;
        margin-right: 5vmin;
        display: grid;
        grid-template-columns: 85vw;
        grid-template-rows: auto auto auto auto auto auto auto;
        overflow: hidden;
    }
    .git-stat{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: span 1;
    }
    .git-profile{
        display: flex;
        grid-row-start: 2;
        grid-column: 1;
        height: fit-content;
    }
    .github-pinner #gp-container-profile .gp-follow{
        float: none;
        margin-top: 10px;
        margin-left: 10px;
        position: static;
    }
    .github-pinner #gp-container-profile > .gp-stats .gp-stat{
        margin-bottom: 15px;
    }
    .calendar{
        grid-row-start: 3;
        max-height: 5vh;
    }
    .git-info{
        display: flex;
        justify-self: center;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin: 0;
        height: 12vh;
        min-height: 25vh;
        grid-row-start: 5;
        grid-column: 1;
    }
    .github-pinner.gp-repo {
        width: 70vw;
    }
    .gitext{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 7vmin;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        grid-column: 1;
        grid-row-start: 4;

    }
    .otherrepo{
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 6vw;
        grid-column: 1;
        grid-row-start: 6;
    }
    .listrepo{
        grid-row-start: 7;
    }
    .glitch-noise{
        font-size: 13vw;
    }
}

@media (max-width: 1300px){
    div.abme{
        font-size: calc(18px + 0.390625vh);
    }
    .recent{
        margin-top: 3vmax;
        margin-left: 5vmin;
        margin-right: 5vmin;
        display: grid;
        width: 85vw;
        grid-template-columns: 1;
        grid-template-rows: 1 1 1;
    }
    .rectext{
        border-bottom: 0;
        font-size: 5vmin;
        grid-column: 1 / -1;
        height: fit-content;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .gallery {
        display: flex;
        grid-row: 3;
        padding: 3px;
    }
    .instagram{
        width: inherit;
    }
    .fancy{
        font-size: 15vmin;
    }
    .column{
        display: flex;
        flex-direction: column;
        flex: 50%;
        max-width: 50%;
        align-items: center;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 950px){
    div.abme{
        font-size: calc(12px + 0.390625vh);
        margin-bottom: 1v;
    }
    div.about{
        margin-bottom: 5vmin;
    }
    img.logos{
        width: 3vh;
        height: auto;
        padding-right: 1.5vw;
    }
}